.container {
  flex: 1;
  display: flex;
  // align-items: center;
  flex-direction: column;
  // justify-content: center;
  padding: 5.3em;
}

.page-title {
  font-size: 32pt;
  color: white;
  margin-bottom: 32px;
}

.instruction {
  color: white;
  font-size: 18pt;
}

ul,
li {
  color: white;
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.issue-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-decoration-line: underline;
  margin-bottom: 8px;
}

.issue-author {
  color: #b9bdc4;
  margin-left: 32px;
  margin-top: 8px;
  margin-bottom: 56px;
}

.issue-comment-label {
  color: white;
  margin: 0;
  margin-top: 32px;
}

.comment-container {
  background: #0b2c3b;
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
}

.loading {
  color: white;
  font-size: 18px;
}

.error {
  color: red;
  font-size: 18px;
}
